<div class="nav-container container-fluid px-0 sticky-top"  id="navbar-spy">
    <nav class="navbar navbar-expand-lg navbar-light border border-dark">
        <div class="order-2 order-md-1 w-100 collapse navbar-collapse dualCollapse text-center">
            <ul class="nav nav-tabs navbar-nav ml-auto font-weight-bold font-italic">
                <li class="nav-item mx-md-2">
                    <a class="nav-link active text-primary" href="#home">Home</a>
                </li>
                <li class="nav-item mx-md-2">
                    <a class="nav-link active text-secondary" href="#about">About</a>
                </li>
                <li class="nav-item mx-md-2">
                    <a class="nav-link active text-info" href="#skills">Skills</a>
                </li>
            </ul>
        </div>
        <div class="order-1 order-md-2 mx-auto">
            <button class="navbar-toggler mx-auto" type="button" data-toggle="collapse" data-target=".dualCollapse"
                aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand mx-auto" href="#home">
                <img class="rounded-circle" src="/images/hello_the_anh2.jpg" width="120" height="120" alt="The Anh Logo"
                    srcset="">
            </a>
        </div>
        <div class="w-100 order-3 order-md-3 collapse navbar-collapse dualCollapse text-center">
            <ul class="nav nav-tabs navbar-nav mr-auto font-weight-bold font-italic">
                <li class="nav-item mx-md-2">
                    <a class="nav-link active text-warning" href="#portfolio">Portfolio</a>
                </li>
                <li class="nav-item mx-md-2">
                    <a class="nav-link active text-danger" href="#contact">Contact</a>
                </li>
            </ul>
        </div>
    </nav>
</div>