<header>
    <div class="container-fluid px-0 mt-5" id="home">
        <div class="card rounded-0 bg-dark text-white">
            <img class="card-img" src="/images/hello_the_anh1.jpg" alt="Hello The Anh">   
            <div class="card-img-overlay d-flex flex-column justify-content-center align-items-center">
                <div>
                    <h2 class="card-img__header text-center font-weight-bold">Hello <br> I'm The <br> Anh</h1>
                </div>
                <div class="mt-5 d-none d-lg-block">
                    <h3 class="text-justify">
                        "War is peace.
                    </h3>
                    <h3 class="text-justify">
                        Freedom is slavery.
                    </h3>
                    <h3 class="text-justify">
                        Ignorance is strength.”
                    </h3>
                </div>
                <div class="d-none d-lg-block mt-5 text-justify">
                    <h3>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ratione ipsa vero, cum possimus
                        commodi quis,
                        consectetur necessitatibus nam aliquam in suscipit eligendi nulla eveniet! Corporis sunt
                        officia ullam
                        enim, odio obcaecati aperiam illo consequatur vitae labore doloremque aut magni ea impedit
                        tenetur.
                        Fugit officia optio cumque facilis maiores ipsum suscipit?
                    </h3>
                </div>
            </div>
        </div>
        <div
            class="d-lg-none container-fluid pb-5 pb-lg-0 px-lg-0 mobile mobile--dark text-justify d-flex flex-column justify-content-center align-items-center">
            <h3 class="mt-5 mobile__text mobile__text--responsive text-white">
                "War is peace.
            </h3>
            <h3 class="mobile__text mobile__text--responsive text-white">
                Freedom is slavery.
            </h3>
            <h3 class="mobile__text mobile__text--responsive text-white">
                Ignorance is strength.”
            </h3>
            <h3 class="mobile__text mobile__text--responsive text-white">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ratione ipsa vero, cum possimus commodi quis,
                consectetur necessitatibus nam aliquam in suscipit eligendi nulla eveniet! Corporis sunt officia ullam
                enim, odio obcaecati aperiam illo consequatur vitae labore doloremque aut magni ea impedit tenetur.
                Fugit officia optio cumque facilis maiores ipsum suscipit?
            </h3>
        </div>
    </div>
</header>