<section>
  <div class="mt-5 px-3 px-sm-1 px-md-4 px-lg-0 text-justify section-container container" id="portfolio">
    <div class="row p-md-5">
      <div class="col-lg-6 d-flex justify-content-center align-items-center font-italic section-container my-5 my-lg-0">
        <u>
          <h1 class="section-container__text">Portfolio</h1>
        </u>
      </div>
      <div class="col-lg-6 d-flex font-italic px-4 px-sm-3 px-lg-5">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque deleniti consequuntur enim commodi. Vel
        dolore perspiciatis magnam minus recusandae laborum, repudiandae sunt nisi aspernatur maiores delectus
        consectetur optio sit numquam blanditiis corporis commodi adipisci a mollitia unde itaque rem deleniti.
      </div>
    </div>
  </div>
</section>