<header>
    <div class="container-fluid position-relative p-0" id="home">
        <div class="card bg-dark text-white">
            <img class="img-fluid card-img" src="/images/hello_the_anh1.jpg" alt="Hello The Anh">   
            <div class="card-img-overlay d-flex flex-column justify-content-center align-items-center">
                <div>
                    <h2 class="card-img__header card-img__header--alt text-center">Hello <br> I'm The <br> Anh</h1>
                </div>
                <div>
                    <h3 class="mt-5 card-img__header card-img__header--responsive text-justify">
                        "War is peace.
                    </h3>
                    <h3 class="card-img__header card-img__header--responsive text-justify">
                        Freedom is slavery.
                    </h3>
                    <h3 class="card-img__header card-img__header--responsive text-justify">
                        Ignorance is strength.”
                    </h3>
                </div>
                <div>
                    <h3 class="mt-5 card-img__header card-img__header--responsive text-justify">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ratione ipsa vero, cum possimus
                        commodi quis,
                        consectetur necessitatibus nam aliquam in suscipit eligendi nulla eveniet! Corporis sunt
                        officia ullam
                        enim, odio obcaecati aperiam illo consequatur vitae labore doloremque aut magni ea impedit
                        tenetur.
                        Fugit officia optio cumque facilis maiores ipsum suscipit?
                    </h3>
                </div>
            </div>
        </div>
        <div
            class="container-fluid mobile mobile--dark no-gutters text-justify d-flex flex-column justify-content-center align-items-center">
            <h3 class="mt-5 mobile__text mobile__text--responsive text-white">
                "War is peace.
            </h3>
            <h3 class="mobile__text mobile__text--responsive text-white">
                Freedom is slavery.
            </h3>
            <h3 class="mobile__text mobile__text--responsive text-white">
                Ignorance is strength.”
            </h3>
            <h3 class="mobile__text mobile__text--responsive text-white">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ratione ipsa vero, cum possimus commodi quis,
                consectetur necessitatibus nam aliquam in suscipit eligendi nulla eveniet! Corporis sunt officia ullam
                enim, odio obcaecati aperiam illo consequatur vitae labore doloremque aut magni ea impedit tenetur.
                Fugit officia optio cumque facilis maiores ipsum suscipit?
            </h3>
        </div>
    </div>
</header>