<div class="container-fluid d-flex justify-content-center align-items-center" id="contact">
    <section>
      <h1>Contact</h1>
      <div>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi repellat, sapiente ducimus et expedita
        consectetur facilis sunt totam laboriosam architecto, molestiae, placeat ad corrupti accusantium deleniti iure.
        Velit explicabo reprehenderit iste molestiae quas quisquam maiores in alias pariatur dolores quaerat vero,
        consectetur doloribus magni, libero officiis sequi. Consectetur, ullam officia. Quisquam incidunt deleniti
        fugiat
        quia doloribus dignissimos aperiam alias maxime, temporibus hic impedit, ab nemo placeat deserunt perspiciatis
        nihil atque quos assumenda mollitia adipisci iste delectus quibusdam nam illum? Officia reiciendis modi, veniam
        architecto magnam magni nam qui ratione quod fugiat perferendis facere quisquam autem vero sequi? Temporibus,
        dolor assumenda.
      </div>
    </section>
  </div>