<section>
  <div class="mt-5 px-3 px-sm-1 px-md-4 px-lg-0 text-justify section-container container" id="skills">
    <div class="row p-md-5">
      <div
        class="order-2 order-md-1 col-lg-6 d-flex flex-column justify-content-between font-italic px-4 px-sm-3 px-lg-5 my-5 my-lg-0">
        <div class="progress mb-3" style="height: 2.5em;">
          <div class="progress-bar bg-info" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0"
            aria-valuemax="100">25% Photographer</div>
        </div>
        <div class="progress mb-3" style="height: 2.5em;">
          <div class="progress-bar bg-info" role="progressbar" style="width: 50%;" aria-valuenow="25" aria-valuemin="0"
            aria-valuemax="100">50% Meme stealer</div>
        </div>
        <div class="progress mb-3" style="height: 2.5em;">
          <div class="progress-bar bg-info" role="progressbar" style="width: 75%;" aria-valuenow="25" aria-valuemin="0"
            aria-valuemax="100">75% Editor</div>
        </div>
        <div class="progress" style="height: 2.5em;">
          <div class="progress-bar bg-info" role="progressbar" style="width: 100%;" aria-valuenow="25" aria-valuemin="0"
            aria-valuemax="100">100% Shit Poster</div>
        </div>
      </div>
      <div
        class="order-1 order-md-2 col-lg-6 d-flex justify-content-center align-items-center font-italic section-container">
        <u>
          <h1 class="section-container__text">Skills</h1>
        </u>
      </div>
    </div>
  </div>
</section>