@font-face {
    font-family: Century;
    src: url('/font/CENTURY.ttf');
}

$font-stack: Century, serif;
$color: #EFEEED;

// These are the defaults, but you can override any values
$font-family-sans-serif: $font-stack;
$font-family-serif:      Georgia, "Times New Roman", Times, serif !default;
$font-family-monospace:  Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base:       $font-family-sans-serif !default;
