<script src="/js/pace.min.js"></script>
<script src='/js/jquery-3.4.1.js'></script>
<script src="/bootstrap-4.4.1/js/bootstrap.bundle.min.js"></script>
<script src='/js/bundle.js'></script>
<script src='/js/main.js'></script>
<script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer>
</script>

</body>

</html>