<%- include('../templates/header.ejs');  %>
</head>

<body>
    <main>
        <h1>Well, that sucks!</h1>
        <p>Something is wrong, we're doing our best to resolve it!</p>
    </main>
    
<%- include('../templates/footer.ejs');  %>